/*
* DECLARE VARIABLES
*/
@background: #fffff;
@light-gray: #9fa3a7;
@dark-gray: #6c6c6c;
@black: #212121;
@red: #fb0c0c;

@light-yellow: #f8ff44;
@dark-yellow: #ffc80a;

/*
 * Include sprites here
 */


// ==================  CUSTOM CONTAINER ==============
//.container {
//  padding-right: 15px;
//  padding-left: 15px;
//  margin-right: auto;
//  margin-left: auto;
//  @media (min-width: 768px) {
//    width: 740px;
//  }
//  @media (min-width: 992px) {
//    width: 970px;
//  }
//  @media (min-width: 1200px) {
//    width: 1170px;
//  }
//}


// =================== FONTS ==========================
//@font-face {
//  font-family: PlayfairDisplay; /* Имя шрифта */
//  src: url(../fonts/PlayfairDisplay-Regular.otf); /* Путь к файлу со шрифтом */
//}

@font-face {
  font-family: LucidaGrande; /* Имя шрифта */
  src: url("../fonts/Lucida_Grande_Regular.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family:"Montserrat-Bold";
  src:url("../fonts/Montserrat-Bold.eot?")
  format("eot"),url("../fonts/Montserrat-Bold.woff")
  format("woff"),url("../fonts/Montserrat-Bold.ttf")
  format("truetype"),
  url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight:normal;
  font-style:normal;
}
.btn {
  border-radius: 100px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  padding: 17px 35px;
  color: white;
  background-color: @dark-yellow;
  transition: 0.3s all ease;
  text-transform: uppercase;
  &:hover {
    color: @dark-gray;
  }
  &:focus, &:active {
    outline: none !important;
    border-style: none !important;
  }
}



//========================== SPRITES ===========================
//home page sprite
.targetIMG, .precision, .certificate, .guarantee
{ display: inline-block; background: url('../img/homeSprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.targetIMG { background-position: -0px -0px; width: 67px; height: 67px; }
.precision { background-position: -0px -67px; width: 66px; height: 66px; }
.certificate { background-position: -0px -133px; width: 52px; height: 66px; }
.guarantee { background-position: -0px -199px; width: 48px; height: 64px; }

//product page sprite
.tools, .precision, .cross, .tellow, .store,
.x, .webcam, .telkey, .telplay
{ display: inline-block; background: url('../img/productSprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.tools { background-position: -0px -0px; width: 71px; height: 62px; }
.precision { background-position: -0px -62px; width: 66px; height: 66px; }
.cross { background-position: -0px -128px; width: 64px; height: 64px; }
.tellow { background-position: -0px -192px; width: 56px; height: 64px; }
.store { background-position: -0px -256px; width: 52px; height: 64px; }
.x { background-position: -0px -320px; width: 51px; height: 51px; }
.webcam { background-position: -0px -371px; width: 50px; height: 50px; }
.telkey { background-position: -0px -421px; width: 47px; height: 50px; }
.telplay { background-position: -0px -471px; width: 36px; height: 64px; }