footer
    .container
        .header.footer
            .header_logo
                img(src="img/logo.png" alt="beacon_logo")
            .header_nav.footer_nav
                ul
                    li.nav__item
                        a(href="#our-products") Товары
                    li.nav__item
                        a(href="#info") О компании
                    li.nav__item
                        a(href="partner-form") Стать партнером
            .soccial-wrap
                .contacts.soccial
                    a(href="https://www.facebook.com/beaconkh/")
                        .social__img.social__img_facebook
                    a(href="https://www.instagram.com/beaconkhua")
                        .social__img.social__img_instagram
                    a(href="https://t.me/beaconkhua")
                        .social__img.social__img_telegram