doctype html
html(lang="ru-RU")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta#myViewport(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='theme-color' content="#ffc80a")
        meta(name="description" content="Наша команда занимается разработками и производством в области высоких технологий и передачи данных. Цель наших проектов - сделать жизнь людей удобнее и технологичнее. Вы будете иметь возможность контроллировать перемещение сотрудников, детей, автомобилей и т.д.")
        link(rel="icon" href="img/logo.png" type="image/x-icon")
        //link(href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous")
        //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

        link(href="css/bootstrap.min.css" rel="stylesheet")
        link(href="css/all.css" rel="stylesheet")
        meta(charset="utf-8")
