header
    .container
        .header
            .header_logo
                a(href="index.html")
                    img(src="img/logo.png" alt="beacon_logo")
            .header_nav
                ul
                    li.nav__item
                        a(href="#our-products").go_to_products.go_to Товары
                    li.nav__item
                        a(href="#info").go_to_info.go_to О компании
                    li.nav__item
                        a(href="#partner-form").go_to_partner.go_to Стать партнером
            .contacts.header_contacts
                ul
                    li
                        a(href="tel:+380935900606") 0935900606
                    li
                        a(href="tel:+380665900606") 0665900606
                    li
                        a(href="tel:+380505900606") 0505900606